a {
    text-decoration: none;
}

section {
    background-color: #141414;
    width: 100vw;
}

footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #141414;
    color: #fff;
    text-align: center;
    padding: 0.5em 0;
    font-size: 0.8em;
}

footer p {   
    padding: 0;
    margin: 0;
}

.bg-meu {
    background-color: #141414;
}

.link-logo {
    width: 95px;
    height: 40px;
    margin-left: 12px;
    margin-right: 0;
    padding: 0;
}

.logo {
    height: 40px;
    width: 95px;
}

.movie {
    color: #fff;
    width: 300px;
    text-align: center;
}


.movie  img {
    max-width: 15em;
}

.modal-header {
    text-align: center;
}